<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401368361784-i8hooajn15s1ifoo10t3g6jouectrsu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401368361784-i8hooajn15s1ifoo10t3g6jouectrsu3</string>
	<key>API_KEY</key>
	<string>AIzaSyC1mIJcpzaRVYyXr2AKvBx8T2BT0OyNUiA</string>
	<key>GCM_SENDER_ID</key>
	<string>401368361784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Birkenstock.Manor</string>
	<key>PROJECT_ID</key>
	<string>manor-a654f</string>
	<key>STORAGE_BUCKET</key>
	<string>manor-a654f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401368361784:ios:8383433d22a2b536426fcd</string>
</dict>
</plist>